<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted"><a href="https://github.com/oje-edu/SYMFONY_halle77api" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github fa-2x fa-shake" style="color: #e4cc9c"></i></a></span>
    </div>
</footer>