{% extends 'base.html.twig' %}

{% block title %}Kennzeichen bearbeiten{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
        <div class=text-center">
            <h1>Kennzeichen bearbeiten</h1>
        </div>
        <div class="container">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}